<footer class="page-footer orange">
    <div class="container">

      <div class="row">

          <div class="col l6 s12">
            <h5 class="white-text">Project Description</h5>
            <p class="grey-text text-lighten-4">Our Major Project</p>
          </div>


      </div>

    </div>

    <div class="footer-copyright">
    	<div class="container">
      		Copyright @aar_system 2015-2016
      </div>
    </div>
</footer>
