<script src='/javascripts/jquery-1.11.3.min.js'> </script>
<!--<script type="text/javascript">
$(".dropdown-button").dropdown();
  $(".dropdown-toggle").dropdown();
$(document).ready(function(){
  $(".dropdown-button").dropdown();
  $(".dropdown-toggle").dropdown();
});
</script>-->

<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">AAR system</a>
      <ul class="right hide-on-med-and-down">
      	<li><a href="/">Home</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">Home</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<!--
<header style= "height: 80px; width: 100% ; padding: 5px; background-color: #f1f1f1; position: fixed">

<a href="/" ><img src="/images/book-pile.jpg" alt="Note icon" align="left" style="width:200px; height:75px; padding:0px 0px 0px 0px;; margin: 0px"> </img> </a>
<div style="text-align: center; font-size: 35px ; position: fixed; top: 20px; left: 650px "><b><a href="/">NoteStack</a></b></div>

<div style="float: right; width: 80px; padding-top: 20px; position: relative; right: 30px"><a href="/login">login/signup</a></div>
</header>
-->
