<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <script src='/javascripts/jquery-1.11.3.min.js'> </script>
    <% include partials/head.ejs %>
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
  </head>
  <body>
  <% include partials/header.ejs %>
  <div class='container'>
    <h2><%= title %></h2>
    <form name="assignMentorForm" action="assignMentorPost" method="post">
      Select mentor :<select name="mentorSelected" class="browser-default">
        <% for(var i=0;i<mentorArray.length; i++){%>
        <option value=<%- mentorArray[i].mentorUsername %>><%= mentorArray[i].mentorUsername%></option>
        <%}%>
      </select>&nbsp &nbsp &nbsp <br><br>
      Select group:
      <select name="groupSelected" class="browser-default">
        <% for(i=0;i<groupArray.length; i++){%>
        <option value= <%-  JSON.stringify(groupArray[i]) %>><%= groupArray[i].batch %>&nbsp&nbsp<%=groupArray[i].groupName %></option>
        <%}%>
      </select>
        <br><br>
      <input type="submit">
    </form>
    <% if(typeof(message)!=undefined){ %>
    <%= message %>
    <% } %>
</div>
<% include partials/footer.ejs %>
<% include partials/headscript.ejs %>
  </body>
</html>
