<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <script src='/javascripts/jquery-1.11.3.min.js'> </script>
    <script>
    function formValidate(){
      var startingRollNo=document.createBatch.startingRollNo.value;
      var endingRollNo=document.createBatch.endingRollNo.value;
      var batch=document.createBatch.batch.value;
      if(batch==""){
        alert("Enter Batch");
        return;
      }
      if(startingRollNo==""){
        alert("Enter Starting Roll No.");
        return;
      }
      if(endingRollNo==""){
        alert("Enter Starting Roll No.");
        return;
      }
      if(startingRollNo>endingRollNo){
        alert("Wrong Selection of RollNo. Range");
        return;
      }
      document.forms["createBatch"].submit();

    }
    </script>
    <% include partials/head.ejs %>
  </head>
  <body>
  <% include partials/header.ejs %><br>
  <div class='container'>
  <%= user.username %><br><br>
    <form name="createBatch" action="batchPost" method="post">
      Batch: <input type="number" name="batch" id="batch"><br><br>
      <!--Change in Department type -->
      Department:
      <select title = "Department" name = "department" id ="department" class="browser-default">
        <option value="cse">CSE </option>
      </select>  <br><br>
      Starting Rollno: <input type="number" name="startingRollNo" id="startingRollNo"><br><br>
      Ending Rollno: <input type="number" name="endingRollNo" id="endingRollNo"><br><br>
      Subject Pattern:
      <select name="selectedSubjectPattern" class="browser-default">
      <% for(var i=0;i<subjectPattern.length;i++) { %>
        <option value=<%-subjectPattern[i] %>> <%= subjectPattern[i] %></option>
      <% } %>
    </select>
      <input type="button" value="submit" onclick="formValidate()">
    </form>
</div>
<% include partials/footer.ejs %>
<% include partials/headscript.ejs %>
  </body>
</html>
