<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <script src='/javascripts/jquery-1.11.3.min.js'> </script>
    <% include partials/head.ejs %>
  </head>

  <body>
<% include partials/header.ejs %><br>
  <div class='container'>
    <h2><%= title %></h2>

    <form action='/creatementorpost' method="post" name"hod-login">
    		Name : <input type="text" name= "mentorName"><br><br>
        Username : <input type="text" name= "mentorUsername"><br><br>
        <!--Change in Department type -->
        Department :
        <select title = "Department" name = "department" class="browser-default">
          <option value="cse">CSE </option>
        </select>  <br><br>
        Password : <input type="password" name= "mentorPassword"><br><br>
    		<input type="submit">
    </form>
    </div>
<% include partials/footer.ejs %>
<% include partials/headscript.ejs %>
  </body>
</html>
