<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <script src='/javascripts/jquery-1.11.3.min.js'> </script>
    <% include partials/headscript.ejs %>
    <% include partials/head.ejs %>
     <script>

        function validateForm() {
            var x = prompt("Enter admin password");
            if(x == 'admin'){
              console.log('success login admin')
              document.forms["hodlogin"].submit();
            }
            else
              alert('Unauthorized access');
        }
    </script>

  </head>

  <body>
<% include partials/header.ejs %>
<div class='container'>
    <h2><%= title %></h2>

    <form action='/createhodpost' method="post" name="hodlogin">
    		Name : <input type="text" name= "hodName"><br><br>
        Username : <input type="text" name= "hodUsername"><br><br>
        Department :
        <select title = "Department" name = "department" class="browser-default">
          <option value="cse">CSE </option>
        </select>  <br><br>
        Password : <input type="password" name= "hodPassword"><br><br>
    		<input type='button' onclick='validateForm()' value='Submit' >
    </form>
</div>
<% include partials/footer.ejs %>
<script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
  </body>
</html>
