<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <script src='/javascripts/jquery-1.11.3.min.js'> </script>
    <% include partials/head.ejs %>
  </head>
  <body>
  <% include partials/header.ejs %>
  <div class='container'><br>
    <% if(user.designation=='hod'){%>
    <%= user.username%>
    <br><br><br>
     <a href="/createbatch">Create Batch</a> <br><br>
    <a href="/creategroup">Create Group</a> <br><br>
    <a href="/studentsignup">Create Student</a> <br><br><br>
    <a href="/creatementor">Create Mentor</a> <br><br>
    <a href="/assignMentor">Assign Mentor-Group</a> <br><br>

    <% }else{ %>
    <p> YOU ARE NOT AUTHORISED FOR THIS ACTION</p>
    <% }%>
    <a href='/signout'>Signout</signout>
 </div><br><br>
<% include partials/footer.ejs %>
<% include partials/headscript.ejs %>
  </body>
</html>
