<html>
<head>
  <title><%=title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/jquery-1.11.3.min.js"></script>
  <script>
  var notifications=<%- notification %>
  $('document').ready(function(){
    console.log(notifications);
    var table=$("<table border='1' />");
    var row=$("<tr />");
    row.append("<th>Sr.No.</th>");
    row.append("<th>Roll No.</th>");
    row.append("<th>Name</th>");
    row.append("<th>Semester</th>");
    row.append("<th>Subjects</th>");
    row.append("<th>Marks</th>");
    row.append("<th>DMC</th>")
    // DMC row.append("<th style='width: 160px'>DMC</th>");
    row.append("<th style='width: 160px'>Reject</th>");
    row.append("<th style='width: 160px'>Accept</th>")
    table.append(row);
    for(var i=0;i<notifications.length; i++){
      var subjectNames=[];
      //console.log(notifications[1].requestedMarks);
      subjectNames=Object.keys(notifications[i].requestedMarks);
      var len=subjectNames.length;
      row=$("<tr/>");
      row.append("<td rowspan='"+len+"'>"+(i+1)+"</td>");
      row.append("<td rowspan='"+len+"'>"+notifications[i].rollno+"</td>");
      row.append("<td rowspan='"+len+"'>"+notifications[i].name+"</td>");
      row.append("<td rowspan='"+len+"'>"+notifications[i].semester+"</td>")

      for(j=0;j<subjectNames.length;j++){
        row.append("<td>"+subjectNames[j]+"</td>");
        row.append("<td>"+notifications[i].requestedMarks[subjectNames[j]]+"</td>");
        if(j==0){
          // DMC row.append("<td rowspan='"+len+"'>"+"<input type='button' value='View DMC' name='dmcbtn' id='dmcbtn' style='height: 125.556px; width: 160px'>"+"</td>");
          row.append("<td rowspan='"+len+"'>"+"<input type='button' value='Reject' name='"+notifications[i].notificationId+"reject' id='rejectBtn' onclick='rejectRequest("+notifications[i].notificationId+","+notifications[i].semester+")' style='height: 125.556px; width: 160px'>"+"</td>");
          row.append("<td rowspan='"+len+"'>"+"<input type='button' value='Accept' name='"+notifications[i].notificationId+"accept' id='acceptBtn' onclick='acceptRequest("+notifications[i].notificationId+","+notifications[i].semester+")' style='height: 125.556px; width: 160px'>"+"</td>");
          row.append("<td rowspan='"+len+"'>"+"<input type='button' value='View DMC' name='"+notifications[i].notificationId+"view' id='viewBtn' onclick='window.open(\"http://localhost:3000/showDMC?rollno="+notifications[i].rollno+"&picName="+notifications[i].DMCpic+"\")' style='height: 125.556px; width: 160px'>"+"</td>")
        }
        table.append(row);
        row=$("<tr/>");
      }

    }
    $("#notificationTable").html("");
    $("#notificationTable").append(table);
  });

  function rejectRequest(str1,str2){
    str1=""+str1;
    var replyServer={};
    var arr=str1.split("r");
    replyServer.notificationId=Number(arr[0]);
    replyServer.status=0;
    replyServer.semester=Number(str2);
    console.log(replyServer);
    document.verifyMarks.replyServerField.value=JSON.stringify(replyServer);
    document.forms["verifyMarks"].submit();
  }
  function acceptRequest(str2,str1){
    str2=""+str2;
    console.log(str1);
    var replyServer={};
    var arr=str2.split("a");
    replyServer.notificationId=Number(arr[0]);
    replyServer.status=1;
    replyServer.semester=Number(str1);
    console.log(replyServer);
    document.verifyMarks.replyServerField.value=JSON.stringify(replyServer);
    document.forms["verifyMarks"].submit();
  }
  </script>
</head>
<body>
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
<b>  Welcome <%=user.mentorUsername%></b><br>
  <h3>Sessional marks</h3>
  <ul>
    <li><a href="/sessionaledit">Edit </a></li>
    <li><a href="/sessionalview">View </a></li>
   </ul>
<hr>
  <form name="verifyMarks" id="verifyMarks" method="post" action="verifyMarksPost">
  <div id="notificationTable">



  </div>
  <input type="hidden" name="replyServerField">
  <input type='submit' style="display: hidden">
  <br>
</form>
<br>
<a href='/signout'>Signout</a>



</body>
</html>
