<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <script src='/javascripts/jquery-1.11.3.min.js'> </script>
    <% include partials/head.ejs %>
  </head>
  <body>
  <% include partials/header.ejs %>
  <div class='container'>
    <h3><%= title %></h3>
    <p>Welcome to <%= title %></p>
    
    <br>
    <h3>Login as</h3>
    <a href="loginhod">Login Hod</a> <br><br>
    <a href="loginmentor">Login mentor</a> <br><br>
    <a href="loginstudent">Login student</a><br><br><br><br>
</div>
<% include partials/footer.ejs %>
<% include partials/headscript.ejs %>

  </body>
</html>
