<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <script src='/javascripts/jquery-1.11.3.min.js'> </script>
    <script>
    function formValidate(){
      var username=document.studentLoginForm.studentUsername.value;
      var password=document.studentLoginForm.studentPassword.value;
      if(username==""){
        alert("Enter UserName");
        return;
      }
      if(password==""){
        alert("Enter Password");
        return;
      }
      document.forms["studentLoginForm"].submit();

    }
    </script>
    <% include partials/head.ejs %>
  </head>
  <body>
  <% include partials/header.ejs %>
  <div class='container'>
    <h2><%= title %></h2>
    <form action='studentLoginPost' method="post" name="studentLoginForm">
		Username : <input type="text" name= "studentUsername"><br><br>
    Password : <input type="password" name= "studentPassword"><br><br>
		<input type="button" value="submit" onclick="formValidate()">
    </form>
    <% if(typeof(message)!=undefined){ %>
    <%= message %>
    <% } %>
</div>
<% include partials/footer.ejs %>
<% include partials/headscript.ejs %>
  </body>
</html>
