<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <script src='/javascripts/jquery-1.11.3.min.js'> </script>
    <script>
    function formValidate(){
      var username=document.hodLoginForm.hodUsername.value;
      var password=document.hodLoginForm.hodPassword.value;
      if(username==""){
        alert("Enter UserName");
        return;
      }
      if(password==""){
        alert("Enter Password");
        return;
      }
      document.forms["hodLoginForm"].submit();

    }
    </script>
    <% include partials/head.ejs %>
  </head>
  <body>
  <% include partials/header.ejs %>
  <div class='container'><br>
    <h2><%= title %></h2>
    <form action='hodloginpost' method="post" name="hodLoginForm">
		UserName : <input type="text" name= "hodUsername"><br><br>
    Password : <input type="password" name= "hodPassword"><br><br>

		<input type="button" value="submit" onclick="formValidate()">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href='/createHod'>HOD Sign Up </a>
    </form>
    <% if(typeof(message)!=undefined){ %>
    <%= message %>
    <% } %>
</div>
<% include partials/footer.ejs %>
<% include partials/headscript.ejs %>
  </body>
</html>
