<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/javascripts/jquery-1.11.3.min.js"></script>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <script src='/javascripts/jquery-1.11.3.min.js'> </script>
    <% include partials/head.ejs %>
    <script>
    var subname;
    var semi;
    $(document).ready(function() {

      $('#sem').bind('change',function(){
      $('#submitbtn').css("display","none");
      $('#uploadDMC').css("display","none");
      semi = $('#sem').val()-1  ;
      var marks=<%- marks %>;
      console.log(marks[2]);
      //console.log(marks[semi].sub4);
    //  document.getElementById("semesterName").innerHTML =semi+1;
      //document.getElementById("result").innerHTML = ""+marks[semi].sub4;
      subname=Object.keys(marks[semi]);
      var subvalues=[]
      for (var x in marks[semi]){
        subvalues.push(marks[semi][x]);
      }
      console.log(subvalues);
      var table=$("<table />");
      var row= $("<tr/>");
      row.append("<th>Subject Name</th>");
      row.append("<th>Marks</th>");
      row.append("<th class='updateTextBox' style='display: none'>"+"Requested Marks"+"</th>");
      table.append(row);

      for(var i=0;i<subname.length;i++){
        row= $("<tr/>");
        row.append("<td>"+subname[i]+"</td>");
        row.append("<td>"+subvalues[i]+"</th>");
        row.append("<td class='updateTextBox' style='display: none'>"+"<input type= 'number' name="+subname[i]+" style='width:50px' maxlength='3'></td>");
        table.append(row);
      }
      $("#semesterResultTable").html("");
      $("#semesterResultTable").append(table);
      }).trigger('change');
    });
    function editRequest(){
      $('.updateTextBox').css("display","inline")
      $('#submitbtn').css("display","inline");
      $('#uploadDMC').css("display","inline");
    }
    function marksSubmit(){
      var file=$('#uploadDMC').val();
      if(file==''){
        alert("First Upload DMC");
      }
      else{
                var request={};
                for(var i=0;i<subname.length;i++){
                  if(document.requestMarks[subname[i]].value != ""){
                    request[subname[i]]=document.requestMarks[subname[i]].value
                  }
                }
                console.log(request);
                document.requestMarks.requestField.value=JSON.stringify(request);
                console.log(document.requestMarks.requestField.value+"");
                document.requestMarks.rollno.value=<%-record.rollno %>
                document.requestMarks.semester.value=$('#sem').val();
                console.log(document.requestMarks.semester.value)
                document.forms["requestMarks"].submit();
    }
  }
    </script>
  </head>
  <body>
    <% include partials/header.ejs %><br>
  <div class='container'>
    <h1><%= title %></h1>
    select sem : <select name="semester" id = 'sem' class="browser-default">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>

    </select>
  <p> <%= record.batch %> </p>
  <form name="requestMarks" id="requestMarks" method="post" action="requestMarksPost" enctype="multipart/form-data">
  <div id="semesterResultTable">



  </div>
  <br>
  <input type="number" name="semester" style="display:none">
  <input type="number" name="rollno" style="display:none">
  <input type="hidden" name="requestField">
  <input type="button" value="Edit" onclick="editRequest()">
  <input type="file" value="Upload DMC" name="uploadDMC" id="uploadDMC" style="display: none">
  <input type="button" value="submit" id="submitbtn" style="display: none" onclick="marksSubmit()">
</form>
<br><br>
<a href='/signout'>Signout</a>
</div>
<% include partials/footer.ejs %>
<% include partials/headscript.ejs %>
  </body>
</html>
