<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <% include partials/head.ejs %>
  </head>
  <body>
  <% include partials/header.ejs %>
  <div class='container'>
    <h3><%= title %></h3>
    <p>Welcome to <%= title %></p>
    
    <br>
    <div class="row" id="sessStudentSelectForm">
	    <fieldset class="col s12" >
	    	<div class="row">
	    	
	    		<div class="input-field col s3">
	    		Roll No.<input id="rollno" name="rollNo" type="text" placeholder="Roll no" >
		          
		        </div>
		        <div class="input-field col s3">
		        Semester<input id="semester" name="semester" type="text" placeholder="Semester" >
		        </div>

		         <div class="input-field col s3">
		       Sessional No.<input id="sess" name="sessional" type="text" placeholder="Sessional No.">
		        </div>
				<button id="sessionalSubmit">submit</button>
		 
			</div>
	    </fieldset>  
    </div>
    <hr>
    <div id="editbox"></div>
    <div id="marksub"></div>

 
</div>
<% include partials/footer.ejs %>
<% include partials/headscript.ejs %>

  </body>
</html>
