<html>
<head>
  <script src=/javascripts/jquery-1.11.3.min.js> </script>
  <script>
/*
  var color;
  var ekement;
  $('document').ready(function(){
    color=$("#studentDepartment").css('border-color');
    console.log(color);
  });

  function formValidate(){
  var isValid=true;
  //var color=$("#studentDepartment").css('border-color');
  $("input").each(function(){
    element= $(this);
    var flag=1;
    if(element.val() == ""){
      isValid=false;
      flag=0;
      element.css('border-color', 'red');
    }
    if(flag==1){
      element.css('border-color', color);
    }
  });
    element=$("#studentAddress");
    if(element.val()  ==""){
        element.css('border-color', 'red');
    }else{
        element.css('border-color', color);
    }

    var username=$("#studentUsername").val();
    var email=$("#studentEmail").val();
    $.ajax({
                     url:'http://localhost:3000/checkStudentSignup',
                     type:"POST",
                     data:{username: username, email: email},
                     success:function(server_response){
                          console.log(server_response);
                          if(server_response.usernameStatus==0){
                              isValid=false;
                              console.log(server_response);
                              var element=$("#studentUsername");
                              element.css('border-color', 'red');

                          }
                          if(server_response.emailStatus==0){
                              isValid=false;
                              var element=$("#studentEmail");
                              element.css('border-color', 'red');
                          }
                     },
                     error: function(textStatus, errorThrown)
                     {
                         alert(textStatus + ':hai ' + errorThrown);
                     }
               });

    if(isValid==true){
      document.forms["studentRegisterForm"].submit();
    }
    else{
      return;
    }

  }
  */
  </script>
  <style>
  .inputFormlabel{
    display: block;
    padding-right: 40px;
  }
  </style>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <script src='/javascripts/jquery-1.11.3.min.js'> </script>
    <% include partials/head.ejs %>
</head>
<body>
<% include partials/header.ejs %>
  <div class='container'><br>
<form name="studentRegisterForm" action="/studentSignupPost" method="post">
<span class="inputFormlabel">Firstname:</span><input type="text" name="studentFirstname" id="studentFirstname">
<br><br>
<span class="inputFormlabel">Lastname:</span><input type="text" name="studentLastname" id="studentLastname">
<br><br>
<span class="inputFormlabel">Fathername:</span><input type="text" name="studentFathername" id="studentFathername">
<br><br>
<span class="inputFormlabel">Rollno:</span><input type="number" name="studentRollno" id="studentRollno">
<br><br>
<span class="inputFormlabel">Address:</span><textarea name="studentAddress" id="studentAddress" rows="10" cols="40"></textarea>
<br><br>
<span class="inputFormlabel">Department:</span>
<select name="studentDepartment" id="studentDepartment" class="browser-default">
  <option> Cse </option>
</select>
<br><br>
<span class="inputFormlabel">PhoneNo.:</span><input type="number" name="studentPhoneno" id="studentPhoneno">
<br><br>
<span class="inputFormlabel">Email:</span><input type="text" name="studentEmail" id="studentEmail">
<br><br>
<span class="inputFormlabel">Username:</span><input type="text" name="studentUsername" id="studentUsername">
<br><br>
<span class="inputFormlabel">Password:</span><input type="password" name="studentPassword" id="studentPassword">
<br><br>
<input type='submit'>
</form>

<% if (typeof(message)!='undefined')%>
<%= message %>
</div>
<% include partials/footer.ejs %>
<% include partials/headscript.ejs %>
</body>
</html>
