html,body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 95%;
  width: 100%;
}

a {
  color: #00B7FF;

}
.contents{
  max-width: 100%;
  min-height: 100%;
  padding-left: 0px;
  padding-top: 10%;
  padding-right: 0px;
  margin-left: 120px;
}
.verticaline{
  border-right: thick solid #ff0000;
}

.vNavbar{
  list-style-type: none;
  position: relative;
  background-color: yellow;
  left: 1200px;
  bottom: 440px;
  margin: 0;
  padding: 0;
}
#username{
  margin-left: 1140px;
  width: 80px
}

footer{
  width: 100%  ;
  height: 10%;
  border-top: 1px solid black;
  text-align: center;
  background-color: #f1f1f1;
  position: absolute;
  z-index: 2;
}

#skip{
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}
#nav{
  background-color: #404040;
  width: 100%;
  height: 30px;
  margin: 0px;
  padding: 5px;
  position: fixed;
  top: 80px;
}
#nav-ul{
  list-style-type: none;
  padding: 0;
  margin:0;

}

#nav-ul li{
  float: right;
}
.topnav{
  display: block;
  width: 80px;
  text-align: center;
}
#categories{
  list-style-type: none;
  position: absolute;
  top: 250px;
  left: 250px;
  z-index: 1;
}
#categories li{
  display: inline-block;
  margin-right: 40px;

}
#categories-text{
  list-style-type: none;
  position: absolute;
  top: 350px;
  left: 250px;
  z-index: 1;
}
#categories-text li{
  display: inline-block;
  width: 200px;
  margin-right: 40px;

}
#categories-text li a{
  text-align: center;
  width: 200px;
  color: black;
  display: block;
}
